@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=MuseoModerno:wght@700&display=swap');

body { background-color:  #edf7ff;}

h1 { font-family:'MuseoModerno'; color: #0a2ff1 ; font-size: 117px ;}
     h2 { font-family:'Asap' ; font-size: 52px; color: #0a2ff1; }
p { font-family: 'Asap'; font-size: 33px; color: #04146c;} 
strong { font-family:'Asapbold' ;}
ul { font-family: 'museomodernobold'; font-size: 48px; color: #0a2ff1;}
li { font-family: 'asapbold'; font-size: 33px; color: #04146c;}
h3 {font-family: 'MuseoModernoBold';font-size: 198px;color: #8a9af1; }