@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');




main { width: 50%; text-align:center;}
h2 { font-family: 'source sans 3 400'; font-size:38px ;color: #edf7ff; background-color:  #04146c;}
h1 { font-family: 'source sans  3 900'; font-size: 88px; color :#04146c; }
h2 { font-family: 'source sans  3 400'; font-size:38px ;color: #edf7ff; background-color:  #04146c;}
h3 { font-family: 'source sans  3 400'; font-size: 26px; color: #04146c;}
strong {font-family: 'source sans 3 700' ;}
p {font-family: 'Source Sans 3 400' ; font-size: 24px; color: #04146c; background-color:  #edf7ff; }
img { width: 600px; margin: auto;}
